@media screen and (max-width: 900px){
    body{
display: flex;
flex-direction: column;
    }
 
    .sidebar{
        flex-direction: column;
        /* display:none; */
        width: 100%;
    }
    .sidebarOptions{
        flex-direction: row;
        width: 100%;
    }
    .dsc ,.container{
        flex-direction: column;
    }
    .widget{
        flex-direction: column;
        display: none;
        
    }
    .widget_input{
        display: none;
    }
    .widget_input input{
        display: none;
    }
    .widget_container{
        display: none;
    }
    .search_widget{
        display: none;
    }

    .twitter-tweet{
        display: flex;
        justify-content: flex-start;
    }
}
